<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pika flix</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'pf/signup.css' %}">

</head>

<body>
    <div class="container">
        <h1>create account</h1>
        <form action="{% url 'signup_view' %}" method="POST" id="">
            {% csrf_token %}
            <label for="username">username: <span></span></label>
            <input type="text" class="input" name="username" id="user_name" placeholder="register username">

            <label for="email">email: <span></span></label>
            <input type="email" class="input" name="email" id="user_email" placeholder="register email">

            <label for="password">password: <span></span></label>
            <input type="password" class="input" name="password" id="user_pass" placeholder="register password">

            <input type="submit" value="sign up">
            <div class="link"><a href="{% url 'login_view' %}">login</a></div>
        </form>
    </div>
</body>

</html>